<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EasySite - Enio Aiello</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" href="../assets/img/favicon.png">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html" class="navBarItems" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <a href="projects.html" class="navBarItems" title="Projets">Projets</a>
                    </li>
                    <li>
                        <a href="about.html" class="navBarItems" title="À propos">À propos</a>
                    </li>
                    <li>
                        <a href="social.html" class="navBarItems" title="Réseaux sociaux">Réseaux sociaux</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="otherDiv">
                <h2>EasySite</h2>
                <p>Développez facilement et gratuitement un site Web avec votre code et celui d'autres bibliothèques.</p>
                <article class="leftArticle">
                    <h3>Version ultime</h3>
                    <p>Découvrez une version comprenant <strong>FastInstall</strong> (avec des logiciels de développeurs), des pages de bienvenue et des libraires complètes et libres !</p>
                    <a href="https://enioaiello.github.io/EasySite" target="_blank" class="button" title="Consulter maintenant">Consulter</a>
                    <p>Version non supportée (plus mis à jour) !</p>
                </article>
                <article class="rightArticle">
                    <h3>Version simple</h3>
                    <p>Découvrez un outil utile aux débutants et aux professionnels qui ne veulent pas perdre de temps ! Contient Wordpress et les fichiers de bases.</p>
                    <a href="https://thetruefrag.github.io/EasySite" target="_blank" class="button" title="Consulter maintenant">Consulter</a>
                    <p>Version encore mise à jour !</p>
                </article>
                <div class="clear"></div>
            </div>
        </main>
        <footer>
            <p>Fait par Enio Aiello</p>
        </footer>

    </body>
</html>
