<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Oto-Maintenance - Enio Aiello</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" href="../assets/img/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html" class="navBarItems" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <a href="projects.html" class="navBarItems" title="Projets">Projets</a>
                    </li>
                    <li>
                        <a href="about.html" class="navBarItems" title="À propos">À propos</a>
                    </li>
                    <li>
                        <a href="social.html" class="navBarItems" title="Réseaux sociaux">Réseaux sociaux</a>
                    </li>
                    <li>
                        <a href="products.html" class="navBarItems" title="Produits">Produits</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="otherDiv">
                <h2>EasySite</h2>
                <p>Développez facilement et gratuitement un site Web avec votre code et celui d'autres bibliothèques.</p>
                <article class="leftArticle">
                    <h3>Version stable</h3>
                    <p>Un outil simple permettant de maintenir son PC facilement à jour sans problèmes !</p>
                    <a href="https://github.com/enioaiello/Oto-Maintenance/releases/latest" target="_blank" class="button" title="Consulter maintenant">Consulter</a>
                    <p>Version non supportée (plus mis à jour) !</p>
                </article>
                <article class="rightArticle">
                    <h3>Version bêta</h3>
                    <p>Un outil de maintenance recommandée pour les développeurs et les personnes désirants testé les dernières versions.</p>
                    <a href="https://github.com/enioaiello/Oto-Maintenance/releases/latest" target="_blank" class="button" title="Consulter maintenant">Consulter</a>
                    <p>Version encore mise à jour !</p>
                </article>
                <div class="clear"></div>
            </div>
        </main>
        <footer>
            <p>Fait par Enio Aiello</p>
        </footer>

    </body>
</html>
