<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Produits - Enio Aiello</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" href="../assets/img/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html" class="navBarItems" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <a href="projects.html" class="navBarItems" title="Projets">Projets</a>
                    </li>
                    <li>
                        <a href="about.html" class="navBarItems" title="À propos">À propos</a>
                    </li>
                    <li>
                        <a href="social.html" class="navBarItems" title="Réseaux sociaux">Réseaux sociaux</a>
                    </li>
                    <li>
                        <a href="products.html" class="navBarItems" title="Produits">Produits</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="otherDiv">
                <h2>Produits</h2>
                <p>Découvrez tout mes produits, souvent liés à des <a href="projects.html" title="Accéder à mes autres projets">projets</a>, ces derniers sont disponibles de manière stable et sont disponibles publiquement.</p>
                <article class="leftArticle">
                    <h3>EasySite</h3>
                    <p>Une template avancée pour les développeurs Web !</p>
                    <a href="easysite.html" class="button" title="Consulter maintenant">Consulter</a>
                </article>
                <article class="rightArticle">
                    <h3>Oto-Maintenance</h3>
                    <p>Un outil de maintenance libre pour Windows et Linux !</p>
                    <a href="oto-maintenance.html" class="button" title="Consulter maintenant">Consulter</a>
                </article>
                <div class="clear"></div>
            </div>
        </main>
        <footer>
            <p>Fait par Enio Aiello</p>
        </footer>

    </body>
</html>
