<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projets - Enio Aiello</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" href="../assets/img/favicon.png">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html" class="navBarItems" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <a href="projects.html" class="navBarItems" title="Projets">Projets</a>
                    </li>
                    <li>
                        <a href="about.html" class="navBarItems" title="À propos">À propos</a>
                    </li>
                    <li>
                        <a href="social.html" class="navBarItems" title="Réseaux sociaux">Réseaux sociaux</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="otherDiv">
                <h2>Projets</h2>
                <p>Découvrez des petits projets libres et accessible de tous créés par moi !</p>
                <article class="leftArticle">
                    <h3>Oto-Maintenance</h3>
                    <p>Un utilitaire Windows comprenant divers outils de maintenance !</p>
                    <a href="oto-maintenance.html" target="_blank" class="button" title="Consulter maintenant">Consulter</a>
                </article>
                <article class="rightArticle">
                    <h3>EasySite</h3>
                    <p>Une template Web comprenant divers fichiers, dossiers et logiciels pour créer un site !</p>
                    <a href="easysite.html" target="_blank" class="button" title="Consulter maintenant">Consulter</a>
                </article>
                <div class="clear"></div>
            </div>
        </main>
        <footer>
            <p>Fait par Enio Aiello</p>
        </footer>

    </body>
</html>
